html {
    font-size: 1em;
}
body {
    font-size: 1.2em;
}

#sidebar .list-group {
    font-size: 1.1em;
    background: #f6f6f6;
    padding: 5px 5px 5px 8px;
    box-shadow: 0 0 5px #ccc;
}
#sidebar .list-group a {
    display: block;
    margin-bottom: 3px;
}

.navbar-nav {
    float: right;
}
.navbar-inverse {
    background: #1F866E
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse p {
    float: left;
    color: #f2f2f2;
    white-space: nowrap;
    display: inline;
    padding-top: 15px;
    font-size: 0.9em;
}

pre {
    font-size: .95em;
}

